<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{view.title}">View</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            TODO: Role, etc
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail" th:if="${jiangView.major} != null">
                    <img data-src="holder.js/100%x300"/>
                    <div class="caption">
                        <h5 th:text="${jiangView.major.name}">Name</h5>
                        <p th:text="${jiangView.major.id}">jie shao</p>
                        <p><b>TODO:</b> health</p>
                        <p><b>TODO:</b> skill1</p>
                        <p><b>TODO:</b> skill2</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail" th:if="${jiangView.minor} != null">
                    <img data-src="holder.js/100%x300"/>
                    <div class="caption">
                        <h5 th:text="${jiangView.minor.name}">Name</h5>
                        <p th:text="${jiangView.minor.id}">jie shao</p>
                        <p><b>TODO:</b> health</p>
                        <p><b>TODO:</b> skill1</p>
                        <p><b>TODO:</b> skill2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>